<p-dialog id="detailPopup" header="NFL Player Detail" [(visible)]="display" [modal]="true" 
  [style]="{width: '90vw', maxWidth: '600px'}" [responsive]="true" class="custom-dialog" (onHide)="onHideDialog()">
  <form [formGroup]="nflForm" (ngSubmit)="isAdding ? onAdd() : onSave()">
    <div class="p-fluid">
      <hr class="divider" />
      <div class="detailField">
        <label for="team">Team</label>
        <app-team-dropdown id="team" [sport]="'nfl'" formControlName="team"></app-team-dropdown>
        <div *ngIf="nflForm.get('team')?.invalid && (nflForm.get('team')?.touched || isSubmitted)">
          <div class="field-error" *ngIf="nflForm.get('team')?.errors?.['required']">Team is required.</div>
          <div class="field-error" *ngIf="nflForm.get('team')?.errors?.['invalidTeam']">Please select a valid team.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="league">League</label>
        <input id="league" pInputText formControlName="league" readonly />
      </div>
      <div class="detailField">
        <label for="firstName">First Name</label>
        <input id="firstName" pInputText formControlName="firstName" maxlength="50" placeholder="First ..." appTrim />
        <div *ngIf="nflForm.get('firstName')?.invalid && (nflForm.get('firstName')?.touched || isSubmitted)">
          <div class="field-error" *ngIf="nflForm.get('firstName')?.errors?.['required']">Player First Name is required.
          </div>
          <div class="field-error" *ngIf="nflForm.get('firstName')?.errors?.['xss']">Input cannot contain &lt; or &gt;
            characters.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="lastName">Last Name</label>
        <input id="lastName" pInputText formControlName="lastName" maxlength="50" placeholder="Last ..." appTrim />
        <div *ngIf="nflForm.get('lastName')?.invalid && (nflForm.get('lastName')?.touched || isSubmitted)">
          <div class="field-error" *ngIf="nflForm.get('lastName')?.errors?.['required']">Player Last Name is required.
          </div>
          <div class="field-error" *ngIf="nflForm.get('lastName')?.errors?.['xss']">Input cannot contain &lt; or &gt;
            characters.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="position">Position</label>
        <app-position-dropdown id="position" [sport]="'nfl'" formControlName="position" />
        <div *ngIf="nflForm.get('position')?.invalid && (nflForm.get('position')?.touched || isSubmitted)">
          <div class="field-error" *ngIf="nflForm.get('position')?.errors?.['required']">Position is required.</div>
          <div class="field-error" *ngIf="nflForm.get('position')?.errors?.['nonEmptyString']">Position cannot be
            empty.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="number">Number</label>
        <input id="number" pInputText formControlName="number" maxlength="5" appTrim />
        <div *ngIf="nflForm.get('number')?.invalid && (nflForm.get('number')?.touched || isSubmitted)">
          <div class="field-error" *ngIf="nflForm.get('number')?.errors?.['required']">Player Number is required.
          </div>
          <div class="field-error" *ngIf="nflForm.get('number')?.errors?.['pattern']">Player Number must be numeric up
            to 5 digits.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="draftYear">Drafted Year</label>
        <input id="draftYear" pInputText formControlName="draftYear" maxlength="4" placeholder="YYYY..." appTrim />
        <div *ngIf="nflForm.get('draftYear')?.invalid && (nflForm.get('draftYear')?.touched || isSubmitted)">
          <div class="field-error" *ngIf="nflForm.get('draftYear')?.errors?.['pattern']">Drafted Year must be a 4-digit year.</div>
          <div class="field-error" *ngIf="nflForm.get('draftYear')?.errors?.['yearRange']">Drafted Year must be between 1900 - Current Year.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="height">Height</label>
        <input id="height" pInputText formControlName="height" maxlength="10" placeholder="Feet-Inches" appTrim />
        <div *ngIf="nflForm.get('height')?.invalid && (nflForm.get('height')?.touched || isSubmitted)">
          <div class="field-error" *ngIf="nflForm.get('height')?.errors?.['required']">Height is required.</div>
          <div class="field-error" *ngIf="nflForm.get('height')?.errors?.['pattern']">Height must be in the format of
            Feet-Inches.
          </div>
        </div>
      </div>
      <div class="detailField">
        <label for="weight">Weight</label>
        <input id="weight" pInputText formControlName="weight" maxlength="3" placeholder="lbs" appTrim />
        <div *ngIf="nflForm.get('weight')?.invalid && (nflForm.get('weight')?.touched || isSubmitted)">
          <div class="field-error" *ngIf="nflForm.get('weight')?.errors?.['required']">Weight is required.</div>
          <div class="field-error" *ngIf="nflForm.get('weight')?.errors?.['min']">Weight must be at least 98.</div>
          <div class="field-error" *ngIf="nflForm.get('weight')?.errors?.['max']">Weight cannot exceed 500.</div>
          <div class="field-error" *ngIf="nflForm.get('weight')?.errors?.['pattern']">Weight must be numeric up to 3
            digits.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="dateOfBirth">Date of Birth</label>
        <input id="dateOfBirth" pInputText formControlName="dateOfBirth" maxlength="10" placeholder="MM/dd/yyyy" />
        <div *ngIf="nflForm.get('dateOfBirth')?.invalid && (nflForm.get('dateOfBirth')?.touched || isSubmitted)">
          <div class="field-error" *ngIf="nflForm.get('dateOfBirth')?.errors?.['required']">Date of Birth is required.
          </div>
          <div class="field-error" *ngIf="nflForm.get('dateOfBirth')?.errors?.['pattern']">Date of Birth must be in
            the format MM/dd/yyyy.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="birthCountry">Birth Country</label>
        <input id="birthCountry" pInputText formControlName="birthCountry" maxlength="50" appTrim />
        <div *ngIf="nflForm.get('birthCountry')?.hasError('xss') && (nflForm.get('birthCountry')?.touched || isSubmitted)" class="field-error">
          Input cannot contain &lt; or &gt; characters.
        </div>
      </div>
      <div class="detailField">
        <label for="birthCityState">Birth Place</label>
        <input id="birthCityState" pInputText formControlName="birthCityState" maxlength="50" appTrim />
        <div *ngIf="nflForm.get('birthCityState')?.hasError('xss') && (nflForm.get('birthCityState')?.touched || isSubmitted)" class="field-error">
          Input cannot contain &lt; or &gt; characters.
        </div>
      </div>
      <div class="detailField">
        <label for="college">College</label>
        <input id="college" pInputText formControlName="college" maxlength="50" appTrim />
        <div *ngIf="nflForm.get('college')?.hasError('xss') && (nflForm.get('college')?.touched || isSubmitted)" class="field-error">
          Input cannot contain &lt; or &gt; characters.
        </div>
      </div>
      <div class="detailField">
        <label for="seasonYear">Season Year</label>
        <input id="seasonYear" pInputText formControlName="seasonYear" maxlength="4" placeholder="YYYY..." appTrim />
        <div *ngIf="nflForm.get('seasonYear')?.invalid && (nflForm.get('seasonYear')?.touched || isSubmitted)">
          <div class="field-error" *ngIf="nflForm.get('seasonYear')?.errors?.['required']">Season Year is required.</div>
          <div class="field-error" *ngIf="nflForm.get('seasonYear')?.errors?.['pattern']">Season Year must be a 4-digit year.</div>
          <div class="field-error" *ngIf="nflForm.get('seasonYear')?.errors?.['yearRange']">Season Year must be between 1900 - next year.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="playerId">Player ID</label>
        <input id="playerId" readonly pInputText formControlName="playerId" />
      </div>
      <hr/>
      <div class="detailField">
        <label for="sacks">Sacks</label>
        <input id="sacks" pInputText formControlName="sacks" maxlength="5" appTrim />
        <div *ngIf="nflForm.get('sacks')?.invalid && (nflForm.get('sacks')?.touched || isSubmitted)">
          <div class="field-error" *ngIf="nflForm.get('sacks')?.errors?.['pattern']">Sacks must be a valid number (decimals allowed).</div>
        </div>
      </div>
      <div class="detailField">
        <label for="touchdowns">Touchdowns</label>
        <input id="touchdowns" pInputText formControlName="touchdowns" maxlength="3" appTrim />
        <div *ngIf="nflForm.get('touchdowns')?.invalid && (nflForm.get('touchdowns')?.touched || isSubmitted)">
          <div class="field-error" *ngIf="nflForm.get('touchdowns')?.errors?.['pattern']">Touchdowns must be a valid number (no decimals).</div>
        </div>
      </div>
      <div class="detailButton">
        <button *ngIf="isAdding" title="Add" pButton type="submit" icon="pi pi-add" label="Add">Add</button>
        <button *ngIf="!isAdding" title="Save" pButton type="submit" icon="pi pi-save" label="Save">Save</button>
        <button title="Cancel" pButton type="button" icon="pi pi-cancel" (click)="onHideDialog()"
          label="Cancel">Cancel</button>
      </div>
    </div>
    <div *ngIf="errMessage.length" class="errMessage">
      {{errMessage}}
    </div>
  </form>
</p-dialog>