<p-dialog id="detailPopup" header="NHL Player Detail" [(visible)]="display" [modal]="true" 
  [style]="{width: '90vw', maxWidth: '600px'}" [responsive]="true" class="custom-dialog" (onHide)="onHideDialog()">
  <form [formGroup]="nhlForm" (ngSubmit)="isAdding ? onAdd() : onSave()">
    <div class="p-fluid">
      <hr class="divider" />
      <div class="detailField">
        <label for="team">Team</label>
        <app-team-dropdown id="team" [sport]="'nhl'" formControlName="team"></app-team-dropdown>
        <div *ngIf="shouldValidate() && nhlForm.get('team')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('team')?.errors?.['required']">Team is required.</div>
          <div class="field-error" *ngIf="nhlForm.get('team')?.errors?.['invalidTeam']">Please select a valid team.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="league">League</label>
        <input id="league" pInputText formControlName="league" readonly />
      </div>
      <div class="detailField">
        <label for="firstName">First Name</label>
        <input id="firstName" pInputText formControlName="firstName" maxlength="50" appTrim />
        <div *ngIf="shouldValidate() && nhlForm.get('firstName')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('firstName')?.errors?.['required']">First Name is required.</div>
          <div class="field-error" *ngIf="nhlForm.get('firstName')?.errors?.['nonEmptyString']">First Name cannot be empty.</div>
          <div class="field-error" *ngIf="nhlForm.get('firstName')?.errors?.['xss']">Input cannot contain &lt; or &gt; characters.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="lastName">Last Name</label>
        <input id="lastName" pInputText formControlName="lastName" maxlength="50" appTrim />
        <div *ngIf="shouldValidate() && nhlForm.get('lastName')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('lastName')?.errors?.['required']">Last Name is required.</div>
          <div class="field-error" *ngIf="nhlForm.get('lastName')?.errors?.['nonEmptyString']">Last Name cannot be empty.</div>
          <div class="field-error" *ngIf="nhlForm.get('lastName')?.errors?.['xss']">Input cannot contain &lt; or &gt; characters.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="position">Position</label>
        <app-position-dropdown id="position" [sport]="'nhl'" formControlName="position" />
        <div *ngIf="shouldValidate() && nhlForm.get('position')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('position')?.errors?.['required']">Position is required.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="number">Number</label>
        <input id="number" pInputText formControlName="number" maxlength="5" />
        <div *ngIf="shouldValidate() && nhlForm.get('number')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('number')?.errors?.['required']">Player Number is required.</div>
          <div class="field-error" *ngIf="nhlForm.get('number')?.errors?.['pattern']">Player Number must be numeric up to 5 digits.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="draftYear">Drafted Year</label>
        <input id="draftYear" pInputText formControlName="draftYear" maxlength="4" placeholder="YYYY..." />
        <div *ngIf="shouldValidate() && nhlForm.get('draftYear')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('draftYear')?.errors?.['required']">Drafted Year is required.</div>
          <div class="field-error" *ngIf="nhlForm.get('draftYear')?.errors?.['pattern']">Drafted Year must be a 4-digit
            year.</div>
          <div class="field-error" *ngIf="nhlForm.get('draftYear')?.errors?.['yearRange']">Drafted Year must be between
            1900 - Current Year.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="height">Height</label>
        <input id="height" pInputText formControlName="height" maxlength="10" placeholder="Feet-Inches" appTrim />
        <div *ngIf="shouldValidate() && nhlForm.get('height')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('height')?.errors?.['required']">Height is required.</div>
          <div class="field-error" *ngIf="nhlForm.get('height')?.errors?.['pattern']">Height must be in the format of Feet-Inches.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="weight">Weight</label>
        <input id="weight" pInputText formControlName="weight" maxlength="3" placeholder="lbs" appTrim />
        <div *ngIf="shouldValidate() && nhlForm.get('weight')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('weight')?.errors?.['required']">Weight is required.</div>
          <div class="field-error" *ngIf="nhlForm.get('weight')?.errors?.['min']">Weight must be at least 98.</div>
          <div class="field-error" *ngIf="nhlForm.get('weight')?.errors?.['max']">Weight cannot exceed 500.</div>
          <div class="field-error" *ngIf="nhlForm.get('weight')?.errors?.['pattern']">Weight must be numeric up to 3 digits.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="dateOfBirth">Date of Birth</label>
        <input id="dateOfBirth" pInputText formControlName="dateOfBirth" maxlength="10" placeholder="MM/dd/yyyy" />
        <div *ngIf="shouldValidate() && nhlForm.get('dateOfBirth')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('dateOfBirth')?.errors?.['pattern']">Date of Birth must be in the format MM/dd/yyyy.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="birthCountry">Birth Country</label>
        <input id="birthCountry" pInputText formControlName="birthCountry" maxlength="50" appTrim />
        <div *ngIf="nhlForm.get('birthCountry')?.hasError('xss') && (nhlForm.get('birthCountry')?.touched || isSubmitted)" class="field-error">
          Input cannot contain &lt; or &gt; characters.
        </div>
      </div>
      <div class="detailField">
        <label for="birthCityState">Birth Place</label>
        <input id="birthCityState" pInputText formControlName="birthCityState" maxlength="50" appTrim />
        <div *ngIf="nhlForm.get('birthCityState')?.hasError('xss') && (nhlForm.get('birthCityState')?.touched || isSubmitted)" class="field-error">
          Input cannot contain &lt; or &gt; characters.
        </div>
      </div>
      <div class="detailField">
        <label for="college">College</label>
        <input id="college" pInputText formControlName="college" maxlength="50" appTrim />
        <div *ngIf="nhlForm.get('college')?.hasError('xss') && (nhlForm.get('college')?.touched || isSubmitted)" class="field-error">
          Input cannot contain &lt; or &gt; characters.
        </div>
      </div>
      <div class="detailField">
        <label for="seasonYear">Season Year</label>
        <input id="seasonYear" pInputText formControlName="seasonYear" maxlength="4" placeholder="YYYY..." appTrim />
        <div *ngIf="shouldValidate() && nhlForm.get('seasonYear')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('seasonYear')?.errors?.['required']">Season Year is required.</div>
          <div class="field-error" *ngIf="nhlForm.get('seasonYear')?.errors?.['pattern']">Season Year must be a 4-digit
            year.</div>
          <div class="field-error" *ngIf="nhlForm.get('seasonYear')?.errors?.['yearRange']">Season Year must be between
            1900 - next year.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="playerId">Player ID</label>
        <input id="playerId" readonly pInputText formControlName="playerId" />
      </div>
      <hr/>
      <div class="detailField">
        <label for="handed">Handed</label>
        <app-handedness-dropdown id="handed" formControlName="handed" [includeBoth]="true"></app-handedness-dropdown>
        <div *ngIf="shouldValidate() && nhlForm.get('handed')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('handed')?.errors?.['required']">Handed is required.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="goals">Goals</label>
        <input id="goals" pInputText formControlName="goals" maxlength="3"/>
        <div *ngIf="shouldValidate() && nhlForm.get('goals')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('goals')?.errors?.['pattern']">Goals must be a round number.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="penaltyMinutes">Penalty Mins</label>
        <input id="penaltyMinutes" pInputText formControlName="penaltyMinutes" maxlength="3"/>
        <div *ngIf="shouldValidate() && nhlForm.get('penaltyMinutes')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('penaltyMinutes')?.errors?.['pattern']">Penalty Minutes must be a round number.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="points">Points</label>
        <input id="points" pInputText formControlName="points" maxlength="3"/>
        <div *ngIf="shouldValidate() && nhlForm.get('points')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('points')?.errors?.['pattern']">Points must be a round number.</div>
        </div>
      </div>
      <div class="detailField">
        <label for="savePct">Save %</label>
        <input id="savePct" pInputText formControlName="savePct" placeholder="0.500" maxlength="5"/>
        <div *ngIf="shouldValidate() && nhlForm.get('savePct')?.invalid">
          <div class="field-error" *ngIf="nhlForm.get('savePct')?.errors?.['pattern']">Save Percent must be between 0 and 1, ie 0.500.</div>
          <div class="field-error" *ngIf="nhlForm.get('savePct')?.errors?.['max']">Save Percent must be less than 1.</div>
        </div>
      </div>
      <div class="detailButton">
        <button *ngIf="isAdding" title="Add" pButton type="submit" icon="pi pi-plus" label="Add"></button>
        <button *ngIf="!isAdding" title="Save" pButton type="submit" icon="pi pi-save" label="Save"></button>
        <button title="Cancel" pButton type="button" icon="pi pi-times" (click)="onHideDialog()"
          label="Cancel"></button>
      </div>
    </div>
    <div *ngIf="errMessage.length" class="errMessage">
      {{errMessage}}
    </div>
  </form>
</p-dialog>
