<h2 class="MLB">Major League Baseball</h2>
<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading && !chartData">
  No data available.
</div>

<div *ngIf="!isLoading && chartData">
<h3>Major League Baseball fan attendance for the year {{ this.yearFilter | json }}. </h3>

<p>
  Hover over a bar for detail. &nbsp;&nbsp;  Change Year:
  <p-dropdown [options]="yearChoices" [(ngModel)]="yearFilter" optionLabel="label" optionValue="theYear"></p-dropdown>
</p>

<p-chart id="mlbChart" type="bar" [data]=chartData >

</p-chart>
</div>
