<p-dialog id="detailPopup" header="NBA Player Detail" [(visible)]="display" [modal]="true" [style]="{width: '30vw'}"
[responsive]="true" class="custom-dialog" (onHide)="onHideDialog()">
<form [formGroup]="nbaForm" (ngSubmit)="isAdding ? onAdd() : onSave(); isSubmitted = true">
  <div class="p-fluid">
    <hr class="divider" />
    <div class="detailField">
      <label for="team">Team</label>
      <input id="team" pInputText formControlName="team" maxlength="50" appTrim />
    </div>
    <div class="detailField">
      <label for="firstName">First Name</label>
      <input id="firstName" pInputText formControlName="firstName" maxlength="50" placeholder="First name..." appTrim />
    </div>
    <div class="detailField">
      <label for="lastName">Last Name</label>
      <input id="lastName" pInputText formControlName="lastName" maxlength="50" placeholder="Last name..." appTrim />
    </div>
    <div class="detailField">
      <label for="position">Position</label>
      <app-position-dropdown id="position" [sport]="'nba'" formControlName="position" />
      <div *ngIf="nbaForm.get('position')?.invalid && (nbaForm.get('position')?.touched || isSubmitted)">
        <div class="field-error" *ngIf="nbaForm.get('position')?.errors?.['required']">Position is required.</div>
        <div class="field-error" *ngIf="nbaForm.get('position')?.errors?.['nonEmptyString']">Position cannot be
          empty.</div>
      </div>
    </div>
    <div class="detailField">
      <label for="number">Number</label>
      <input id="number" pInputText formControlName="number" maxlength="5"  appTrim />
      <div *ngIf="nbaForm.get('number')?.invalid && (nbaForm.get('number')?.touched || isSubmitted)">
        <div class="field-error" *ngIf="nbaForm.get('number')?.errors?.['required']">Player Number is required.
        </div>
        <div class="field-error" *ngIf="nbaForm.get('number')?.errors?.['pattern']">Player Number must be numeric up
          to 5 digits.</div>
      </div>
    </div>
    <div class="detailField">
      <label for="height">Height</label>
      <input id="height" pInputText formControlName="height" maxlength="10" placeholder="Feet-Inches" appTrim />
      <div *ngIf="nbaForm.get('height')?.invalid && (nbaForm.get('height')?.touched || isSubmitted)">
        <div class="field-error" *ngIf="nbaForm.get('height')?.errors?.['required']">Height is required.</div>
        <div class="field-error" *ngIf="nbaForm.get('height')?.errors?.['pattern']">Height must be in the format of
          Feet-Inches.</div>
      </div>
    </div>
    <div class="detailField">
      <label for="weight">Weight</label>
      <input id="weight" pInputText formControlName="weight" maxlength="3" placeholder="lbs" appTrim />
      <div *ngIf="nbaForm.get('weight')?.invalid && (nbaForm.get('weight')?.touched || isSubmitted)">
        <div class="field-error" *ngIf="nbaForm.get('weight')?.errors?.['required']">Weight is required.</div>
        <div class="field-error" *ngIf="nbaForm.get('weight')?.errors?.['min']">Weight must be at least 98.</div>
        <div class="field-error" *ngIf="nbaForm.get('weight')?.errors?.['max']">Weight cannot exceed 500.</div>
        <div class="field-error" *ngIf="nbaForm.get('weight')?.errors?.['pattern']">Weight must be numeric up to 3
          digits.</div>
      </div>
    </div>
    <div class="detailField">
      <label for="dateOfBirth">Date of Birth</label>
      <input id="dateOfBirth" pInputText formControlName="dateOfBirth" maxlength="10" placeholder="MM/dd/yyyy" />
      <div *ngIf="nbaForm.get('dateOfBirth')?.invalid && (nbaForm.get('dateOfBirth')?.touched || isSubmitted)">
        <div class="field-error" *ngIf="nbaForm.get('dateOfBirth')?.errors?.['required']">Date of Birth is required.
        </div>
        <div class="field-error" *ngIf="nbaForm.get('dateOfBirth')?.errors?.['pattern']">Date of Birth must be in
          the format of MM/dd/yyyy.</div>
      </div>
    </div>
    <div class="detailField">
      <label for="college">College</label>
      <input id="college" pInputText formControlName="college" maxlength="50" appTrim />
    </div>
    <div class="detailField">
      <label for="playerID">PlayerID</label>
      <input id="playerID" readonly pInputText formControlName="playerID" />
    </div>

    <div class="detailButton">
      <button *ngIf="isAdding" title="Add" pButton type="submit" icon="pi pi-add" label="Add">Add</button>
      <button *ngIf="!isAdding" title="Save" pButton type="submit" icon="pi pi-save" label="Save">Save</button>
      <button title="Cancel" pButton type="button" icon="pi pi-cancel" (click)="onHideDialog()"
        label="Cancel">Cancel</button>
    </div>
  </div>
  <div *ngIf="errMessage.length" class="errMessage">
    {{errMessage}}
  </div>
</form>
</p-dialog>