<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading && !chartData">
  No data available.
</div>

<div *ngIf="!isLoading && chartData">

  <h3>Major League Baseball fan attendance by Decade</h3>

  <div class="inputs">
    <div class="inputTitle">Range</div>
    <hr class="divider" />
    <div class="flexContainer">
      <div class="flexPrompt prompt">
        <label for="beginDecade">Start: </label>
      </div>
      <div class="flexDropdown">
        <select id="beginDecade" name="beginDecade" [(ngModel)]="beginYear" class="year">
          <option *ngFor="let year of yearChoices" [value]="year.theYear">{{ year.label }}</option>
        </select>
      </div>
      <div class="flexPrompt prompt">
        <label for="endDecade">End: </label>
      </div>
      <div class="flexDropdown">
        <select id="endDecade" name="endDecade" [(ngModel)]="endYear" class="year">
          <option *ngFor="let year of yearChoices" [value]="year.theYear">{{ year.label }}</option>
        </select>
      </div>
    </div>
  </div>

  <i>Hover over a bar for detail. </i>
  <p-chart id="mlbChart" type="bar" [data]=chartData>
  </p-chart>


</div>
