<h2 class="NHL">National Hockey League - Team Rosters</h2>

<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading && !roster.length">
  No data available.
</div>

<div *ngIf="!isLoading && roster.length">
  <div class="pageActions">
    <button title="Add" pButton type="button" icon="pi pi-create" (click)="addRow()">Add</button>
    <div class="instruction">Add a new player to the roster</div>
  </div>
  <p-table [value]="roster" [tableStyle]="{ 'min-width': '50rem' }" dataKey="name" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="header">
      <tr>
        <th>Actions</th>
        <th pSortableColumn="team">Team <p-sortIcon field="team"></p-sortIcon></th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="position">Position <p-sortIcon field="position"></p-sortIcon></th>
        <th pSortableColumn="number">Number <p-sortIcon field="number"></p-sortIcon></th>
        <th pSortableColumn="handed">Handed <p-sortIcon field="handed"></p-sortIcon></th>
        <th pSortableColumn="age">Age <p-sortIcon field="age"></p-sortIcon></th>
        <th pSortableColumn="drafted">Drafted Year <p-sortIcon field="drafted"></p-sortIcon></th>
        <th pSortableColumn="birthCountry">Birth Country <p-sortIcon field="birthCountry"></p-sortIcon></th>
        <th pSortableColumn="birthPlace">Birthplace <p-sortIcon field="birthPlace"></p-sortIcon></th>
        <th pSortableColumn="playerID">PlayerID <p-sortIcon field="playerID"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-roster>
      <tr>
        <td class="actions">
          <button title="Edit" pButton type="button" icon="pi pi-pencil" (click)="editRow(roster)">Edit</button>
          &nbsp;
          <button title="Delete" pButton type="button" icon="pi pi-delete" (click)="deleteRow(roster)">Delete</button>
        </td>
        <td>{{ roster.team }}</td>
        <td>{{ roster.name }}</td>
        <td>{{ roster.position }}</td>
        <td>{{ roster.number }}</td>
        <td>{{ roster.handed }}</td>
        <td>{{ roster.age }}</td>
        <td>{{ roster.drafted }}</td>
        <td>{{ roster.birthCountry }}</td>
        <td>{{ roster.birthPlace }}</td>
        <td>{{ roster.playerID }}</td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="NHL Player Detail" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}"
    [responsive]="true" (onHide)="onDialogHide()">
    <form [formGroup]="nhlForm" (ngSubmit)="isAdding ? add() : save()">
      <div class="p-fluid">
        <div class="p-field">
          <label for="team">Team</label>
          <input id="team" pInputText formControlName="team" maxlength="50" />
        </div>
        <div class="p-field">
          <label for="name">Name</label>
          <input id="name" pInputText formControlName="name" maxlength="50" />
        </div>
        <div class="p-field">
          <label for="position">Position</label>
          <input id="position" pInputText formControlName="position" />
        </div>
        <div class="p-field">
          <label for="number">Number</label>
          <input id="number" pInputText formControlName="number" />
        </div>
        <div class="p-field">
          <label for="handed">Handed</label>
          <input id="handed" pInputText formControlName="handed" />
        </div>
        <div class="p-field">
          <label for="drafted">Drafted Year</label>
          <input id="drafted" pInputText formControlName="drafted" maxlength="4" />
          <div *ngIf="nhlForm.get('drafted')?.invalid && nhlForm.get('drafted')?.touched">
            <div class="field-error" *ngIf="nhlForm.get('drafted')?.errors?.['required']">Drafted Year is required.
            </div>
            <div class="field-error" *ngIf="nhlForm.get('drafted')?.errors?.['pattern']">Drafted Year must be a 4-digit
              year.</div>
            <div class="field-error" *ngIf="nhlForm.get('drafted')?.errors?.['yearRange']">Drafted Year must be between
              1900 - Current Year.</div>
          </div>
        </div>
        <div class="p-field">
          <label for="birthCountry">Birth Country</label>
          <input id="birthCountry" pInputText formControlName="birthCountry" maxlength="50" />
        </div>
        <div class="p-field">
          <label for="birthPlace">Birth Place</label>
          <input id="birthPlace" pInputText formControlName="birthPlace" maxlength="50" />
        </div>
        <div class="p-field">
          <label for="age">Age</label>
          <input id="age" pInputText formControlName="age" maxlength="3" />
          <div *ngIf="nhlForm.get('age')?.invalid && nhlForm.get('age')?.touched">
            <div class="field-error" *ngIf="nhlForm.get('age')?.errors?.['required']">Age is required.</div>
            <div class="field-error" *ngIf="nhlForm.get('age')?.errors?.['min']">Age must be at least 18.</div>
            <div class="field-error" *ngIf="nhlForm.get('age')?.errors?.['max']">Age can be up to 55.</div>
            <div class="field-error" *ngIf="nhlForm.get('age')?.errors?.['pattern']">Age must a number.</div>
          </div>
        </div>
        <div class="p-field">
          <label for="playerID">PlayerID</label>
          <input id="playerID" readonly pInputText formControlName="playerID" />
        </div>

        <button *ngIf="isAdding" title="Add" pButton type="submit" icon="pi pi-add" label="Add">Add</button>
        <button *ngIf="!isAdding" title="Save" pButton type="submit" icon="pi pi-save" label="Save">Save</button>
        <button title="Cancel" pButton type="button" icon="pi pi-cancel" (click)="hideDialog()"
          label="Cancel">Cancel</button>
      </div>
      <div *ngIf="errMessage.length" class="errMessage">
        {{errMessage}}
      </div>
    </form>
  </p-dialog>
</div>
