<p-table [value]="roster" [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="name"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="team">Team <p-sortIcon field="team"></p-sortIcon></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="position">Position <p-sortIcon field="position"></p-sortIcon></th>
            <th pSortableColumn="number">Number <p-sortIcon field="number"></p-sortIcon></th>
            <th pSortableColumn="handed">Handed <p-sortIcon field="handed"></p-sortIcon></th>
            <th pSortableColumn="age">Age <p-sortIcon field="age"></p-sortIcon></th>
            <th pSortableColumn="drafted">Drafted Year <p-sortIcon field="drafted"></p-sortIcon></th>
            <th pSortableColumn="birthCountry">Birth Country <p-sortIcon field="birthCountry"></p-sortIcon></th>
            <th pSortableColumn="birthPlace">Birthplace <p-sortIcon field="birthPlace"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-roster>
        <tr>
            <td>{{ roster.team }}</td>
            <td>{{ roster.name }}</td>
            <td>{{ roster.position }}</td>
            <td>{{ roster.number }}</td>
            <td>{{ roster.handed }}</td>
            <td>{{ roster.age }}</td>
            <td>{{ roster.drafted }}</td>
            <td>{{ roster.birthCountry }}</td>
            <td>{{ roster.birthPlace }}</td>
        </tr>
    </ng-template>
</p-table>
