<h2 class="NBA">National Basketball Association - Team Rosters</h2>

<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading && !roster.length">
  No data available.
</div>

<div *ngIf="!isLoading && roster.length">
  <p-table [value]="roster" [tableStyle]="{ 'min-width': '50rem' }" dataKey="name" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="team">Team <p-sortIcon field="team"></p-sortIcon></th>
        <th pSortableColumn="firstName">First Name <p-sortIcon field="firstName"></p-sortIcon></th>
        <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName"></p-sortIcon></th>
        <th pSortableColumn="position">Position <p-sortIcon field="position"></p-sortIcon></th>
        <th pSortableColumn="number">Number <p-sortIcon field="number"></p-sortIcon></th>
        <th pSortableColumn="height">Height <p-sortIcon field="height"></p-sortIcon></th>
        <th pSortableColumn="weight">Weight <p-sortIcon field="weight"></p-sortIcon></th>
        <th pSortableColumn="dateOfBirth">DOB<p-sortIcon field="dateOfBirth"></p-sortIcon></th>
        <th pSortableColumn="college">College <p-sortIcon field="college"></p-sortIcon></th>
        <th pSortableColumn="playerID">Player ID (internal) <p-sortIcon field="playerID"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-roster>
      <tr>
        <td>{{ roster.team }}</td>
        <td>{{ roster.firstName }}</td>
        <td>{{ roster.lastName }}</td>
        <td>{{ roster.position }}</td>
        <td>{{ roster.number }}</td>
        <td>{{ roster.height }}</td>
        <td>{{ roster.weight }}</td>
        <td>{{ roster.dateOfBirth | date:'MM/dd/yyyy' }}</td>
        <td>{{ roster.college }}</td>
        <td>{{ roster.playerID }}</td>
      </tr>
    </ng-template>
  </p-table>

</div>
