/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


body {
    font-family: var(--font-family);
}

:host ::ng-deep .agilitymenu {
  background-color: #d6e8f6;
  font-size: small;
}

ui-dropdown-panel .ui-dropdown-items-wrapper {
  overflow: auto;
  max-height: 10px;
}

.my-dropdown {
  height: 5rem;
  padding-top: 0rem important!;
}

.MLB {
  background-color: #092668;
  color: #ffffff;
  padding: .5em;
}

.NFL {
  background-color: #526914;
  color: #ffffff;
  padding: .5em;
}

.NBA {
  background-color: #01579B;
  color: #ffffff;
  padding: .5em;
}

.NHL {
  background-color: #31450c;
  color: #000000;
  padding: .5em;
}
