<configuration>
    <system.webServer>
         <rewrite>
            <rules>
              <rule name="AngularJS Routes" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
              </rule>
            </rules>
          </rewrite>
          <caching enabled="true" enableKernelCache="true">
              <profiles>
                  <!-- Disable caching for HTML files -->
                  <add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" />
                  <!-- Disable caching for JS and CSS files without hashes -->
                  <add extension=".js" policy="DisableCache" kernelCachePolicy="DisableCache" />
                  <add extension=".css" policy="DisableCache" kernelCachePolicy="DisableCache" />
                  <!-- Allow caching for hashed files (they have unique names) -->
                  <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                  <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
              </profiles>
          </caching>
          <staticContent>
              <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:00" />
          </staticContent>
          <httpProtocol>
              <customHeaders>
                  <!-- Force no-cache for HTML files -->
                  <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                  <add name="Pragma" value="no-cache" />
                  <add name="Expires" value="0" />
              </customHeaders>
          </httpProtocol>
    </system.webServer>
</configuration>
